{% extends 'base.html.twig' %}

{% block title %}| Price{% endblock %}

{% block body %}
    {% block header %}
        {{ include('header.html.twig')}}
    {% endblock %}

    <div id="cadeaux" class="container">
        <h1 class="text-center">Liste des cadeaux disponibles</h1>
        {% if(app.user) %}
            {% if app.user.points == null %}
                <h3 class="text-center">Votre solde (0 points)</h3>
            {% else %}
                <h3 class="text-center">Votre solde ({{ app.user.points }} points)</h3>
            {% endif %}

        {% else %}
            <h3 class="text-center"><a href="{{ path('account_login') }}#login">Connectez</a> vous pour connaitre votre solde</h3>
        {% endif %}
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Paires de crampons</h3>
                        </div>
                        <div class="panel-body">
                            <img width="90%" src="{{ asset('img/shop-product1.jpg') }}" alt="">
                            Disponible pour 500 points
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Maillot + Shirt</h3>
                        </div>
                        <div class="panel-body">
                            <img width="90%" src="{{ asset('img/shop-product2.jpg') }}" alt="">
                            Disponible pour 1000 points
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Veste à capuche</h3>
                        </div>
                        <div class="panel-body">
                            <img width="90%" src="{{ asset('img/shop-product3.jpg') }}" alt="">
                            Disponible pour 900 points
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="text-center">Pour obtenir votre cadeau, une fois le nombre de points nécessaires recoltés de votre côté, merci de nous contacter sur twitter ou bien sur lmdfoot@gmail.com</h4>
            <h3 class="text-center">Plein d'autres cadeaux à venir !</h3>
            <br><br>
        </div>
    </div>

    {% block footer %}
        {{ include('footer.html.twig')}}
    {% endblock %}
{% endblock %}
