{% extends 'base.html.twig' %}

{% block title %}| Price{% endblock %}

{% block body %}
    {% block header %}
        {{ include('header.html.twig')}}
    {% endblock %}

        <div class="container">

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show text-center" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
            <div id="offres">
                <h1>{% trans into locale  %}Offres{% endtrans %}</h1>
                <p class="lead">{% trans into locale  %}Achat {% endtrans %} {% trans into locale  %}disponible {% endtrans %} {% trans into locale  %}Uniquement {% endtrans %} {% trans into locale  %}avec {% endtrans %} {% trans into locale  %}Paypal{% endtrans %}</p>

                <table class="table table-snipped">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text-center">{% trans into locale  %}Gratuit{% endtrans %}</th>
                            <th class="text-center">Pro {% trans into locale  %}pour{% endtrans %} 15€/{% trans into locale  %}mois{% endtrans %}</th>
                            <th class="text-center">{% trans into locale  %}Entreprise{% endtrans %} {% trans into locale  %}pour{% endtrans %} 35€/{% trans into locale  %}mois{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{% trans into locale  %}Nombre de requêtes{% endtrans %}</td>
                            <td class="text-center"><strong>100 {% trans into locale  %}requêtes{% endtrans %}</strong></td>
                            <td class="text-center"><strong>1000 {% trans into locale  %}requêtes{% endtrans %}</strong></td>
                            <td class="text-center"><strong>{% trans into locale  %}Illimités{% endtrans %} </strong></td>
                        </tr>
                        <tr>
                            <td>{% trans into locale  %}Ligues{% endtrans %}</td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>{% trans into locale  %}Equipes{% endtrans %}</td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>{% trans into locale  %}Joueurs{% endtrans %}</td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>{% trans into locale  %}Matchs{% endtrans %}</td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>{% trans into locale  %}Score en direct{% endtrans %}</td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="text-center">
                                <a href="{{ path('payment' , {'id' : 1}) }}" class="button-psg">
                                    <i class="fas fa-check"></i>
                                    {% trans into locale  %}Souscrire{% endtrans %}
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="{{ path('payment', {'id' : 2}) }}" class="button-psg">
                                    <i class="fas fa-check"></i>
                                    {% trans into locale  %}Souscrire{% endtrans %}
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="{{ path('payment' , {'id' : 3}) }}" class="button-psg">
                                    <i class="fas fa-check"></i>
                                    {% trans into locale  %}Souscrire{% endtrans %}
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

        </div>

    {% block footer %}
        {{ include('footer.html.twig')}}
    {% endblock %}
{% endblock %}
