{% extends 'base.html.twig' %}

{% block title %}| Price{% endblock %}

{% block body %}
    {% block header %}
        {{ include('header.html.twig')}}
    {% endblock %}

        <div class="container">

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show text-center" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
            <div id="offres">
                <h1>Offres</h1>
                <p class="lead">Achat disponible Uniquement via Paypal</p>

                <table class="table table-snipped">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text-center">Gratuit</th>
                            <th class="text-center">Pro pour 15€/mois</th>
                            <th class="text-center">Entreprise pour 35€/mois</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nombre de requêtes</td>
                            <td class="text-center"><strong>100 requêtes</strong></td>
                            <td class="text-center"><strong>1000 requêtes</strong></td>
                            <td class="text-center"><strong>Illimités </strong></td>
                        </tr>
                        <tr>
                            <td>Ligues</td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>Equipes</td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>Joueurs</td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>Matchs</td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                        </tr>
                        <tr>
                            <td>Score en direct</td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                            <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="text-center">
                                <a href="{{ path('payment' , {'id' : 1}) }}" class="button-psg">
                                    <i class="fas fa-check"></i>
                                    Souscrire
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="{{ path('payment', {'id' : 2}) }}" class="button-psg">
                                    <i class="fas fa-check"></i>
                                    Souscrire
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="{{ path('payment' , {'id' : 3}) }}" class="button-psg">
                                    <i class="fas fa-check"></i>
                                    Souscrire
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

        </div>

    {% block footer %}
        {{ include('footer.html.twig')}}
    {% endblock %}
{% endblock %}
