{% extends 'base.html.twig' %}

{% block title %}| Price{% endblock %}

{% block body %}

<div class="container">

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show text-center" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endfor %}

    <h1>Pricing</h1>
    <p class="lead">Our Free Plan is Free Forever. Check out our packages below</p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th class="text-center">Free</th>
                <th class="text-center">Pro pour 15 euros</th>
                <th class="text-center">Enterprise pour 29 euros</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Clubs</td>
                <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
            </tr>
            <tr>
                <td>Joueurs</td>
                <td class="text-center text-danger"><i class="fas fa-2x fa-times"></i></td>
                <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
                <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
            </tr>
            <tr>
                <td>Matchs</td>
                <td class="text-center text-danger"><i class="fas fa-2x fa-times"></i></td>
                <td class="text-center text-danger"><i class="fas fa-2x fa-times"></i></td>
                <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
            </tr>
            <tr>
                <td>Championnats</td>
                <td class="text-center text-danger"><i class="fas fa-2x fa-times"></i></td>
                <td class="text-center text-danger"><i class="fas fa-2x fa-times"></i></td>
                <td class="text-center text-success"><i class="fas fa-2x fa-check"></i></td>
            </tr>
            <tr>
                <td></td>
                <td class="text-center">
                    <a href="{{ path('payment' , {'id' : 1}) }}" class="btn btn-primary">
                        <i class="fas fa-check"></i>
                        Souscrire
                    </a>
                </td>
                <td class="text-center">
                    <a href="{{ path('payment', {'id' : 2}) }}" class="btn btn-success">
                        <i class="fas fa-check"></i>
                        Souscrire
                    </a>
                </td>
                <td class="text-center">
                    <a href="{{ path('payment' , {'id' : 3}) }}" class="btn btn-success">
                        <i class="fas fa-check"></i>
                        Souscrire
                    </a>
                </td>
            </tr>

        </tbody>
    </table>

</div>
{% endblock %}
