
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TemplateTEST</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('template/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('template/css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('template/css/slick.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('template/css/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
    <script src="{{ asset('template/js/jquery.min.js') }}"></script>
    <script src="{{ asset('template/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('template/js/slick.min.js') }}"></script>
    <script src="{{ asset('template/js/main.js') }}"></script>

</head>
<body>
<div id="header-holder">
    <div class="cloud-bg"></div>
    <nav id="nav" class="navbar navbar-full">
        <div class="container-fluid">
            <div class="container container-nav">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('img/logo.png') }}" alt="Sporty"></a>
                        </div>
                        <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse navbar-collapse-centered" id="bs">
                            <ul class="nav navbar-nav navbar-nav-centered">
                                <li class="nav-item"><a class="nav-link" href="{{ path('home') }}">Home</a></li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('token') }}">Token</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('price') }}">Pricing</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('swagger_ui') }}">API Documentation</a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right other-navbar">
                                <li class="nav-item">
                                            {% if app.user %}
                                                <a class="btn btn-outline-primary mr-2" href="{{ path('my_account') }}">{{ app.user.username }}</a>
                                                <a class="btn btn-outline-danger" href="{{ path('account_logout') }}">Log out</a>
                                            {% else %}
                                                <a class="btn btn-light" href="{{ path('account_login') }}">Sign in</a>
                                                <a class="btn btn-outline-primary" href="{{ path('account_register') }}">Register</a>
                                            {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div id="top-content" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-slider">
                        <div class="slide">
                            <div class="row rtl-row">
                                <div class="col-sm-5">
                                    <div class="img-holder">
                                        <img src="images/slide-img1.png" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="b-text">Outstanding Web<br>Hosting for you.</div>
                                    <div class="m-text">Starting at only <span class="bold">$2.38/mo*</span></div>
                                    <a href="#" class="hbtn hbtn-primary hbtn-lg">Hosting Services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pricing container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row-title">Pricing</div>
                <div class="row-subtitle"> <p>Welcome to the Sporty API, you must create an account to use the API</p></div>
            </div>
        </div>
        <div class="row custom-padding">
            <div class="col-sm-6 col-md-4">
                <div class="pricing-box">
                    <div class="pricing-title">Free</div>
                    <div class="pricing-details">
                        <ul>
                            <li>Leagues</li>
                            <li>Teams</li>
                            <li>Players</li>
                            <li>Games</li>
                            <li>Livescores</li>
                            <li> <strong>100 requests</strong></li>
                        </ul>
                    </div>
                    <div class="pricing-price">
                        <div class="price">
                            <span class="currency">€</span><span class="num">0</span><span class="duration">/mo</span>
                        </div>
                    </div>
                    <div class="pricing-button">
                        <a href="{{ path('price') }}">Sign up for free</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="pricing-box">
                    <div class="pricing-title">Pro</div>
                    <div class="pricing-details">
                        <ul>
                            <li>Leagues</li>
                            <li>Teams</li>
                            <li>Players</li>
                            <li>Games</li>
                            <li>Livescores</li>
                            <li> <strong>1000 requests</strong></li>
                        </ul>
                    </div>
                    <div class="pricing-price">
                        <div class="price">
                            <span class="currency">€</span><span class="num">10</span><span class="duration">/mo</span>
                        </div>
                    </div>
                    <div class="pricing-button">
                        <a href="{{ path('price') }}">Subscribe</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="pricing-box">
                    <div class="pricing-title">Enterprise</div>
                    <div class="pricing-details">
                        <ul>
                            <li>Leagues</li>
                            <li>Teams</li>
                            <li>Players</li>
                            <li>Games</li>
                            <li>Livescores</li>
                            <li> <strong>Unlimited !</strong></li>
                        </ul>
                    </div>
                    <div class="pricing-price">
                        <div class="price">
                            <span class="currency">€</span><span class="num">20</span><span class="duration">/mo</span>
                        </div>
                    </div>
                    <div class="pricing-button">
                        <a href="{{ path('price') }}">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer container-fluid">
    <a class="btn-go-top" href="#"><i class="hstb hstb-down-arrow"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-2 col-md-3 col-lg-3">
                <div class="footer-menu">
                    <h4>Features</h4>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="{{ path('token') }}">Cool stuff</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-3 col-lg-3">
                <div class="footer-menu">
                    <h4>Ressources</h4>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="{{ path('swagger_ui') }}">API Documentation</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-3 col-lg-3">
                <div class="footer-menu">
                    <h4>About</h4>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="https://github.com/LMDWEB/Sporty-api">Team <i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="footer-menu custom-footer-menu">
                    <h4>Contact us</h4>
                    <ul class="social">
                        <li><a href="https://twitter.com/lmdpsg"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                    <ul>
                        <li>Tel: +(33) 6333333</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sub-footer">
            <div class="row">
                <div class="col-md-6">
                    <div class="sub-footer-menu">
                        <ul>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Terms of Service</a></li>
                            <li><a href="privacy.html">Privacy Policy</a></li>
                        </ul>        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="copyright">© Copyright 2019 Sporty, All Rights Reserved</div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>