{% extends 'base.html.twig' %}

{% block title %}| Login{% endblock %}

{% block body %}
    {% block header %}
        {{ include('header.html.twig')}}
    {% endblock %}
    <div id="login-section" class="container-fluid">
        {% if app.user %}
            connecté
        {% endif %}
        
        {# <img src="{{ asset('img/blurred.jpg') }}" alt="fond_login"> #}
        <div id="login" class="row">
                
                <div class="col-md-4 col-md-offset-4 center-login">
                    <div class="bg-dark py-3 px-3">
                        <h1 class="p-15 center-block">{% trans into locale  %}Connectez-Vous{% endtrans %}</h1>

                        {% if hasError %}
                            <div class="alert alert-danger">Une erreur est survenue, le nom d'utilisateur ou le mot de passe est invalide</div>
                        {% endif %}

                        <form action="{{ path('account_login') }}" method="post">
                            <div class="form-group p-15">
                                <input type="text" name="_username"  id="username" value="{{ username }}" class="form-control" placeholder="Username" required>
                            </div>
                            <div class="form-group p-15">
                                <input type="password" name="_password" id="password" placeholder="Password" class="form-control" required>
                            </div>
                            <div class="form-group p-15">
                                <button type="submit" class="button-psg">{% trans into locale  %}Se connecter{% endtrans %}</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>  
        </div>

    {% block footer %}
        {{ include('footer.html.twig')}}
    {% endblock %}

{% endblock %}