{% extends 'base.html.twig' %}

{% block title %}| Accueil{% endblock %}

{% block body %}
    {% block header %}
        {{ include('header.html.twig')}}
    {% endblock %}

        <div class="pricing container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row-title">{% trans into locale  %}Offres{% endtrans %}</div>
                        <div class="row-subtitle"> 
                            <p>{% trans into locale  %}Bienvenue{% endtrans %} {% trans into locale  %}dans{% endtrans %} {% trans into locale  %}l'API{% endtrans %} Sporty, {% trans into locale  %}vous devez créer{% endtrans %} {% trans into locale  %}un compte{% endtrans %} {% trans into locale  %}pour utiliser{% endtrans %} {% trans into locale  %}l'API{% endtrans %}.</p>
                        </div>
                    </div>
                </div>
                <div class="row custom-padding">
                    <div class="col-sm-6 col-md-4">
                        <div class="pricing-box">
                            <div class="pricing-title">{% trans into locale  %}Gratuit{% endtrans %}</div>
                            <div class="pricing-details">
                                <ul>
                                    <li>{% trans into locale  %}Ligues{% endtrans %}</li>
                                    <li>{% trans into locale  %}Equipes{% endtrans %}</li>
                                    <li>{% trans into locale  %}Joueurs{% endtrans %}</li>
                                    <li>{% trans into locale  %}Matchs{% endtrans %}</li>
                                    <li>{% trans into locale  %}Score en direct{% endtrans %}</li>
                                    <li> <strong>100 {% trans into locale  %}requêtes{% endtrans %}</strong></li>
                                </ul>
                            </div>
                            <div class="pricing-price">
                                <div class="price">
                                    <span class="currency">{% trans into locale  %}Gratuit{% endtrans %}</span>
                                </div>
                            </div>
                            <div class="pricing-button">
                                <a href="{{ path('price') }}">{% trans into locale  %}Inscrivez-vous{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="pricing-box">
                            <div class="pricing-title">Pro</div>
                            <div class="pricing-details">
                                <ul>
                                    <li>{% trans into locale  %}Ligues{% endtrans %}</li>
                                    <li>{% trans into locale  %}Equipes{% endtrans %}</li>
                                    <li>{% trans into locale  %}Joueurs{% endtrans %}</li>
                                    <li>{% trans into locale  %}Matchs{% endtrans %}</li>
                                    <li>{% trans into locale  %}Score en direct{% endtrans %}</li>
                                    <li> <strong>1000 {% trans into locale  %}requêtes{% endtrans %}</strong></li>
                                </ul>
                            </div>
                            <div class="pricing-price">
                                <div class="price">
                                    <span class="currency">€</span><span class="num">15</span><span class="duration">/{% trans into locale  %}mois{% endtrans %}</span>
                                </div>
                            </div>
                            <div class="pricing-button">
                                <a href="{{ path('price') }}">{% trans into locale  %}Souscrire{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="pricing-box">
                            <div class="pricing-title">{% trans into locale  %}Entreprise{% endtrans %}</div>
                            <div class="pricing-details">
                                <ul>
                                    <li>{% trans into locale  %}Ligues{% endtrans %}</li>
                                    <li>{% trans into locale  %}Equipes{% endtrans %}</li>
                                    <li>{% trans into locale  %}Joueurs{% endtrans %}</li>
                                    <li>{% trans into locale  %}Matchs{% endtrans %}</li>
                                    <li>{% trans into locale  %}Score en direct{% endtrans %}</li>
                                    <li> <strong>{% trans into locale  %}Illimités{% endtrans %}!</strong></li>
                                </ul>
                            </div>
                            <div class="pricing-price">
                                <div class="price">
                                    <span class="currency">€</span><span class="num">35</span><span class="duration">/{% trans into locale  %}mois{% endtrans %}</span>
                                </div>
                            </div>
                            <div class="pricing-button">
                                <a href="{{ path('price') }}">{% trans into locale  %}Souscrire{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% block footer %}
        {{ include('footer.html.twig')}}
    {% endblock %}
{% endblock %}

