{% extends 'base.html.twig' %}

{% block title %}| Accueil{% endblock %}

{% block body %}
    {% block header %}
        {{ include('header.html.twig')}}
    {% endblock %}

        <div class="pricing container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row-title">Offres</div>
                        <div class="row-subtitle"> 
                        <p>Bienvenue dans l'API Sporty, vous devez créer un compte pour utiliser l'API.</p></div>
                    </div>
                </div>
                <div class="row custom-padding">
                    <div class="col-sm-6 col-md-4">
                        <div class="pricing-box">
                            <div class="pricing-title">Gratuit</div>
                            <div class="pricing-details">
                                <ul>
                                    <li>Ligues</li>
                                    <li>Equipes</li>
                                    <li>Joueurs</li>
                                    <li>Matchs</li>
                                    <li>Score en direct</li>
                                    <li> <strong>100 requêtes</strong></li>
                                </ul>
                            </div>
                            <div class="pricing-price">
                                <div class="price">
                                    <span class="currency">Gratuit</span>
                                </div>
                            </div>
                            <div class="pricing-button">
                                <a href="{{ path('price') }}">Inscrivez-vous</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="pricing-box">
                            <div class="pricing-title">Pro</div>
                            <div class="pricing-details">
                                <ul>
                                    <li>Ligues</li>
                                    <li>Equipes</li>
                                    <li>Joueurs</li>
                                    <li>Matchs</li>
                                    <li>Score en direct</li>
                                    <li> <strong>1000 requêtes</strong></li>
                                </ul>
                            </div>
                            <div class="pricing-price">
                                <div class="price">
                                    <span class="currency">€</span><span class="num">15</span><span class="duration">/mo</span>
                                </div>
                            </div>
                            <div class="pricing-button">
                                <a href="{{ path('price') }}">Souscrire</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="pricing-box">
                            <div class="pricing-title">Enterprise</div>
                            <div class="pricing-details">
                                <ul>
                                    <li>Ligues</li>
                                    <li>Equipes</li>
                                    <li>Joueurs</li>
                                    <li>Matchs</li>
                                    <li>Score en direct</li>
                                    <li> <strong>Illimités !</strong></li>
                                </ul>
                            </div>
                            <div class="pricing-price">
                                <div class="price">
                                    <span class="currency">€</span><span class="num">35</span><span class="duration">/mo</span>
                                </div>
                            </div>
                            <div class="pricing-button">
                                <a href="{{ path('price') }}">Souscrire</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% block footer %}
        {{ include('footer.html.twig')}}
    {% endblock %}
{% endblock %}

