{% extends 'base.html.twig' %}

{% block title %}| Home{% endblock %}



{% block body %}
    {% block header %}
        {{ include('header.html.twig')}}
    {% endblock %}

        <div class="pricing container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row-title">Pricing</div>
                        <div class="row-subtitle"> <p>Welcome to the Sporty API, you must create an account to use the API</p></div>
                    </div>
                </div>
                <div class="row custom-padding">
                    <div class="col-sm-6 col-md-4">
                        <div class="pricing-box">
                            <div class="pricing-title">Free</div>
                            <div class="pricing-details">
                                <ul>
                                    <li>Leagues</li>
                                    <li>Teams</li>
                                    <li>Players</li>
                                    <li>Games</li>
                                    <li>Livescores</li>
                                    <li> <strong>100 requests</strong></li>
                                </ul>
                            </div>
                            <div class="pricing-price">
                                <div class="price">
                                    <span class="currency">Free</span>
                                </div>
                            </div>
                            <div class="pricing-button">
                                <a href="{{ path('price') }}">Sign up for free</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="pricing-box">
                            <div class="pricing-title">Pro</div>
                            <div class="pricing-details">
                                <ul>
                                    <li>Leagues</li>
                                    <li>Teams</li>
                                    <li>Players</li>
                                    <li>Games</li>
                                    <li>Livescores</li>
                                    <li> <strong>1000 requests</strong></li>
                                </ul>
                            </div>
                            <div class="pricing-price">
                                <div class="price">
                                    <span class="currency">€</span><span class="num">10</span><span class="duration">/mo</span>
                                </div>
                            </div>
                            <div class="pricing-button">
                                <a href="{{ path('price') }}">Subscribe</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="pricing-box">
                            <div class="pricing-title">Enterprise</div>
                            <div class="pricing-details">
                                <ul>
                                    <li>Leagues</li>
                                    <li>Teams</li>
                                    <li>Players</li>
                                    <li>Games</li>
                                    <li>Livescores</li>
                                    <li> <strong>Unlimited !</strong></li>
                                </ul>
                            </div>
                            <div class="pricing-price">
                                <div class="price">
                                    <span class="currency">€</span><span class="num">20</span><span class="duration">/mo</span>
                                </div>
                            </div>
                            <div class="pricing-button">
                                <a href="{{ path('price') }}">Subscribe</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% block footer %}
        {{ include('footer.html.twig')}}
    {% endblock %}
{% endblock %}

