<div id="header-holder">
    <section class="page-header clear-filter section-hero section-shaped my-0" filter-color="orange" >
       <div class="page-header-image" data-parallax="true">
       </div>
        <nav id="nav" class="navbar navbar-full">
            <div class="container-fluid">
                <div class="container container-nav">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="navbar-header">
                                <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <button type="button" data-toggle="collapse" data-target="0.767199221924802" aria-controls="0.767199221924802" aria-label="Toggle navigation" class="navbar-toggler">
                                <span class="navbar-toggler-icon"></span></button>
                                
                                <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('img/logo3.png') }}" alt="Sporty"></a>
                            </div>
                            <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse navbar-collapse-centered" id="bs">
                                <ul class="nav navbar-nav navbar-nav-centered">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('home') }}">{% trans into locale %}Accueil{% endtrans %}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('price') }}#offres">{% trans into locale %}Offres{% endtrans %}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" target="_blank" href="{{ path('swagger_ui') }}">API</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('gift') }}#cadeaux">{% trans into locale %}Cadeaux{% endtrans %}</a>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right other-navbar">
                                {% if app.user %}
                                <div class="login-div">
                                    <li class="nav-item login-display">
                                        <a class="nav-link" href="{{ path('my_account') }}#account">{% trans into locale %}Mon compte{% endtrans %}</a>
                                    </li>
                                    <li class="nav-item register-display">
                                        <a class="nav-link" href="{{ path('account_logout') }}">{% trans into locale %}Deconnecter{% endtrans %}</a>
                                    </li>
                                    <li class="nav-item register-display login-display" style="margin-left: 20px;">
                                        <a class="nav-link" href="{{ path('home') }}en" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-us"> </span></a>
                                        <a class="nav-link" style="margin-left: 10px;" href="{{ path('home') }}" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-fr"> </span></a>
                                    </li>
                                </div>                    
                                {% else %}
                                <div class="login-div">
                                        <li class="nav-item login-display">
                                            <a class="nav-link" href="{{ path('account_login') }}#login">{% trans into locale %}Se connecter{% endtrans %}</a>
                                        </li>
                                        <li class="nav-item register-display">
                                            <a class="nav-link" target="_blank" href="http://lmdfoot.com/register">{% trans into locale %}Inscription{% endtrans %}</a>
                                        </li>
                                         <li class="nav-item register-display login-display" style="margin-left: 20px;">
                                            <a class="nav-link" href="{{ path('home') }}en" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-us"> </span></a>
                                            <a class="nav-link" style="margin-left: 10px;" href="{{ path('home') }}" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-fr"> </span></a>
                                        </li>
                                    </div>
                                {% endif %}
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div id="top-content" class="container-fluid">
            <div class="container">
                <div class="row">
                    <div id="banner-title" class="col-sm-12">
                        <div class="main-slider">
                            <div class="slide">
                                <div id="banner-title" class="col-sm-7">
                                    <div id="taille">Sporty</div>
                                    <div class="b-text">
                                        <br> {% trans into locale %}Une API{% endtrans %} {% trans into locale %}foot pour vous{% endtrans %}!
                                    </div>
                                    <div class="m-text">{% trans into locale %}Commencer par voir{% endtrans %} <span class="bold">{% trans into locale %}nos offres{% endtrans %}</span></div>
                                    <a href="{{ path('home') }}#offres" class="hbtn hbtn-primary hbtn-lg">{% trans into locale %}Offres{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="container">
    {% for label,messages in app.flashes %}

        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw}}</p>
            {% endfor %}
        </div>

    {% endfor %}
</div>
